@use "../abstracts/vars";

fieldset {
  max-width: 80%;
  margin: 0 auto;
  border-style: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .form-content {
    display: flex;
    flex-direction: column;
  }

  .form-content input {
    margin-bottom: 0.5rem;
  }
}
