@use "../abstracts/vars";

form {
  background-color: vars.$button-fill;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    text-align: center;
    margin: 5rem 0;
  }

  .hint {
    color: vars.$font-color;
    font-size: 0.7rem;
    margin-bottom: .5rem;
    font-family: uniform_condensed_medium, sans-serif;
  }
}
