@use "../abstracts/vars";

button {
  min-width: 10rem;
  max-width: 15rem;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid vars.$orange-01;
  color: vars.$orange-01;
  padding: 0.5rem;
  transition: all 500ms ease-in;
  cursor: pointer;
}

button:hover {
  background-color: vars.$orange-01;
  border: 1px solid vars.$orange-01;
  color: black;
}

.btn_container {
  display: flex;
  justify-content: center;

  button {
    margin: 1rem;
    background-color: transparent;
    border: 1px solid vars.$font-color;
    color: vars.$font-color;
  }

  button:disabled {
      border-color: vars.$bg-color;
      color: vars.$bg-color;
      cursor:default;
  }

  button:not(:disabled):hover {
    background-color: vars.$font-color;
    border: 1px solid vars.$font-color;
    color: black;
  }
}

.btn_container_form {
  display: flex;
  justify-content: center;
  .btn {
    width: 42px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid vars.$bg-color;
    color: vars.$bg-color;
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    transition: all 500ms ease-in;
    cursor: pointer;
  }

  .active {
    background-color: vars.$bg-color;
    color: vars.$font-color;
  }

  .btn:hover {
    background-color: vars.$bg-color;
    color: vars.$font-color;
  }

  .btn:active {
    background-color: transparent;
    border: 1px solid vars.$blue-02;
    color: black;

    :hover {
      background-color: vars.$blue-02;
      color: vars.$font-color;
    }
  }
}
