@use "../abstracts/vars";

.dropdown {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.drop_btn {
  margin-top: 1rem;
  width: 100%;
  max-width: 100%;
  border-radius: 25px 25px 25px 25px;
  background-color: transparent;
  border: 1px solid transparent;
  background-color: vars.$blue-02-pastel;
  color: black;
  padding: 0.5rem;
  transition: all 1s ease-in-out;

  cursor: pointer;
}

.drop_content {
  top: 2.9rem;
  position: absolute;
  background-color: vars.$blue-02-pastel;
  width: 100%;
  z-index: 2;
  height: 0px;
  overflow-y: scroll;
  border-radius: 0 0 25px 25px;
  transition-property: all;
  transition-duration: 500ms;

  transition-timing-function: ease-in-out;

  ul {
    padding: 20px;
    label {
      color: black;
    }
  }
}

.dropdown:hover {
  .drop_btn {
    background-color: vars.$blue-02-pastel;
    color: black;
    border: 0.1px solid transparent;
    border-radius: 25px 25px 0 0;
  }

  .drop_content {
    height: 130px;
    margin-bottom: 20px;
  }
}
