@use "../abstracts/vars";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px vars.$blue-02-pastel inset;
}

input:is([name="full_name"], [name="email"], [name="age"], [name="password"], [name="hours_a_day"], [name="gamer_tag"]),
textarea {
  border: 2px solid vars.$grid-btn-background;
  background: vars.$blue-02-pastel;
  padding-block: 2px 4px;
  padding-inline: 12px;
  border-radius: 4px;
  outline: none;
  resize: none;
}

:is(input, textarea):focus {
  border-color: vars.$blue-02;
  outline: none;
}

:is([name="age"]) {
  width: 50px;
}

input:valid {
  border-color: vars.$green-03;
}

input:not(:focus):invalid {
  border-color: vars.$orange-01;
}

input[type="submit"] {
  margin: 1rem;
}

.submit {
  height: 42px;
  min-width: 7rem;
  max-width: 15rem;
  border-radius: 50px;
  background-color: vars.$green-03;
  color: black;
  transition: all 500ms ease-in;
  cursor: pointer;
  align-self: center;
}

@media only screen and (min-width: 992px) {
  .submit {
    min-width: 10rem;
  }
}
